{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main2.css' %}" />
  </head>
  <body>
    <!-- 상단 로고  -->
    <div class="header">
      <div class="logo">MatchZzic</div>
      <div class="mypage_move">
        <a href="{% url 'mypage' %}">
          <iconify-icon
            icon="octicon:feed-person-16"
            style="color: #5e77fe"
          ></iconify-icon
        ></a>
      </div>
    </div>

    <!-- 메인 페이지 타이틀 -->
    <div class="main_title">
      <img src="/practive2/Mask group.png" alt="" />
      <span class="title">동행매칭 서비스</span>
      <span class="title2">비슷한 타입의 사람과 <br />여행가고 싶어요</span>
    </div>

    <!-- 메인 페이지 여행가방 사진 -->
    <div class="main_img">
      <img src="{% static 'image/여행 아이콘3.png' %}" alt="" />
    </div>

    <!-- 동행할 여행지 입력란 -->
    <div class="main_input">
      <span> 동행할 여행지</span>
      <input type="text" placeholder="여행지를 입력해주세요" />
    </div>

    <!-- 지금동행찾기 버튼 -->
    <input type="submit" value="지금 동행 찾기" />

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
