{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/match_done2.css' %}" />
  </head>
  <body>
    <!-- 상단 로고  -->
    <div class="header">
      <div class="logo">MatchZzic</div>
      <div class="username">김멋사</div>
      <div class="mypage_move">
        <a href="{% url 'mypage' %}">
          <iconify-icon
            icon="octicon:feed-person-16"
            style="color: #5e77fe"
          ></iconify-icon
        ></a>
      </div>
    </div>
    <div class="text">동행이&nbsp; <span>매칭</span>되었습니다</div>
    <div class="text_place">동행할 여행지 --</div>
    {% comment %} 여행지 받아서 담아야 함 {% endcomment %}
    <div class="matching_user">
      <div class="username">
        <img src="/MatchZzic/match/templates/img/Mask group.png" alt="" />
        <span>{{user_instance.userName}}</span>
      </div>
      <div class="usertype">
        {% comment %} usertype받아야 함 {% endcomment %}
        <ul>
          <li>계획형</li>
          <li>사진 찍는 거 싫어요</li>
          <li>바쁘게 움직이는 여행</li>
          <li>자연, 시골</li>
        </ul>
      </div>
    </div>
    <div class="text_chat">
      아래 버튼을 클릭하여<br />
      동행자와 채팅해보세요<br />
      <span>*버튼을 클릭하면 오픈채팅으로 넘어갑니다.</span>
      {% comment %} 오픈채팅으로 넘어가는 링크 삽입 {% endcomment %}
    </div>
    <div class="click">
      <div class="click_img">
        <img src="{% static 'image/Mask group4.png' %}" alt="" />
      </div>
      <span>click!</span>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
