{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/match2.css' %}" />
    <!-- <link rel="stylesheet" href="/MatchZzic/match/templates/match.css" /> -->
  </head>
  <body>
    <!-- 상단 로고  -->
    <div class="header">
      <div class="logo">MatchZzic</div>
      <div class="username">{{user_instance.userName}}</div>
      <div class="mypage_move">
        <a href="{% url 'mypage' %}">
          <iconify-icon
            icon="octicon:feed-person-16"
            style="color: #5e77fe"
          ></iconify-icon
        ></a>
      </div>
    </div>
    <!-- 매칭 -->
    <div class="matching">
      <div class="outline">
        <div class="username">
          <img src="/MatchZzic/match/templates/img/Mask group.png" alt="" />
          <span>{{user_instance.userName}}</span>
          <!--변수로 담아야 함-->
        </div>
        <div class="userphoto">
          <img
            src="/MatchZzic/match/templates/img/밍밍이 검정머리.png"
            alt=""
          />
        </div>
        <div class="usertype">
          <ul>
            <li>계획형</li>
            <li>사진 찍는 거 싫어요</li>
            <li>바쁘게 움직이는 여행</li>
            <li>자연, 시골</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 수락, 거절 -->

    <div class="okno">
      <div class="no">
        <span>no!</span>
        <div class="noimg">
          <img src="{% static 'image/Mask group2.png' %}" alt="" />
        </div>
      </div>
      <div class="ok">
        <span>ok!</span>
        <a href="/MatchZzic/match/templates/match_done.html">
          {% comment %} url연결 필요 {% endcomment %}
          <div class="okimg">
            <img src="{% static 'image/Mask group4.png' %}" alt="" /></div
        ></a>
      </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
