<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>매칭 데이터</h1>
    <p>이름: {{ match_user_name }}</p>
    <p>조건1: {{ ans1 }}</p>
    <p>조건2: {{ ans2 }}</p>
    <p>조건3: {{ ans3 }}</p>
    <p>조건4: {{ ans4 }}</p>
    <p>{{ match_user }}</p>
    <!-- <form action="{% url 'finish' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="ok">
    </form> -->

    <form action="{% url 'finish' %}" method="get">
        {% csrf_token %}
        <input type="hidden" name="match_user" value="{{ match_user }}">
        <input type="submit" value="finish">
    </form>
    
    <input type="submit" value="no">
</body>
</html>