<h2>4. 로그인창</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
  
    <div>
      <label for="id_userId">User ID:</label>
      <input type="text" id="id_userId" name="userId" required>
    </div>
  
    <div>
      <label for="id_userPwd">User Password:</label>
      <input type="password" id="id_userPwd" name="userPwd" required>
    </div>
  
    <div>
      <button type="submit">Login</button>
    </div>
    <span style="color:red;"><strong>{{ error }}</strong> </span>

</form>
