{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mypage2.css' %}" />
    <style>
      /* 사진바꾸기 버튼 */
      #input-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 63.55px;
        height: 24.87px;
        left: 233.03px;
        top: 20.26px;
        background: #efefef;
        border-radius: 16.5789px;
        border: none;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 9.21053px;
        line-height: 13px;
        color: #727272;
      }
    </style>
  </head>
  <body>
    <!-- 상단 로고  -->
    <div class="header">
      <div class="logo">MatchZzic</div> 
      <div class="username">{{user_instance.userName}}</div>
      <div class="mypage_move">
        <a href="{% url 'mypage' %}">
          <iconify-icon
            icon="octicon:feed-person-16"
            style="color: #5e77fe"
          ></iconify-icon
        ></a>
      </div>
    </div>

    <!-- 마이페이지 타이틀 -->
    <div class="mypage_title">
      <img src="{% static 'image/Mask group4.png' %}" alt="" />
      <span class="mypage_title_text">마이페이지</span>
    </div>
    
    <!-- 마이페이지 유저 -->

    <div class="mypage_box">
      <div class="mypage_user">
        <div class="mypage_user_name">{{user_instance.userName}}</div>

        <input type="file" id="fileInput" style="display: none" />
        <label
          for="fileInput"
          class="mypage_user_photo_change_btn_label"
          id="input-image"
        >
          사진 바꾸기
        </label>

        <div class="mypage_user_photo">
          <img
            id="preview-image"
            src="{% static 'image/쉼표머리 - 노랑2.png' %}"
            alt=""
          />
        </div>

    <form method="post">
          {% csrf_token %}
          {{ user_form.as_p }}
          <div class="mypage_user_type">
          <ul>
            <li id="one" onclick="change1()">{{user_form.userType1}}</li>
            <li id="two" onclick="change2()">
              {{user_form.userType2}}사진 찍는 거 싫어요 
            </li>
            <li id="three" onclick="change3()">
              {{user_form.userType3}}오직 휴식을 위한 여행
            </li>
            <li id="four" onclick="change4()">{{user_form.userType4}}자연, 시골</li>
          </ul>
        </div>
        <input type="submit" value="수정하기" />
      </div>

    </form>

      <div class="mypage_recent">
        <div class="text">최근 매칭된 동행자</div>
        <div class="mypage_recent_list">
          <ul>
            <li>
              <img src="{% static 'image/밍밍이 검정머리2.png' %}" alt="" />
              <span>밍밍이</span>
            </li>
            <li>
              <img src="{% static 'image/노란머리2.png' %}" alt="" /><span
                >사라</span
              >
            </li>

            <li>
              <img src="{% static 'image/초록머리2.png' %}" alt="" /><span
                >뇽뇽</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %} 누르면 텍스트 변환 {% endcomment %}
    <script>
      function change1() {
        const subs = document.getElementById("one");
        if (subs.innerText === "계획형") {
          subs.innerText = "즉흥형";
        } else {
          subs.innerText = "계획형";
        }
      }
      function change2() {
        const subs = document.getElementById("two");
        if (subs.innerText === "사진 찍는 거 싫어요") {
          subs.innerText = "사진 찍는 거 좋아요";
        } else {
          subs.innerText = "사진 찍는 거 싫어요";
        }
      }
      function change3() {
        const subs = document.getElementById("three");
        if (subs.innerText === "바쁘게 움직이는 여행") {
          subs.innerText = "오직 휴식을 위한 여행";
        } else {
          subs.innerText = "바쁘게 움직이는 여행";
        }
      }
      function change4() {
        const subs = document.getElementById("four");
        if (subs.innerText === "자연, 시골") {
          subs.innerText = "번화가";
        } else {
          subs.innerText = "자연, 시골";
        }
      }
    </script>
    {% comment %} 사진 바꾸기 {% endcomment %}
    <script>
      function readImage(input) {
        if (input.files && input.files[0]) {
          const reader = new FileReader();
          reader.onload = (e) => {
            const previewImage = document.getElementById("preview-image");
            previewImage.src = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        }
      }

      const inputImage = document.getElementById("input-image");
      inputImage.addEventListener("click", () => {
        const fileInput = document.getElementById("fileInput");
        fileInput.click();
      });

      const fileInput = document.getElementById("fileInput");
      fileInput.addEventListener("change", (e) => {
        readImage(e.target);
      });
    </script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
