#iphone-frame {
  width: 375px;
  height: 667px;
  border-radius: 30px;
  margin: 50px auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* 상단로고 */
.header {
  position: fixed;
  width: 322px;
  height: 405px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: 4.5%;
}
.logo {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 22.799px;
  line-height: 28px;
  color: rgba(26, 61, 255, 0.7);
}

.mypage_move {
  position: absolute;
  top: 2%;
  left: 95%;
}
iconify-icon {
  width: 22px;
  height: 22px;
}

/* 동행매칭 */
.text {
  display: flex;
  position: absolute;
  width: 189px;
  height: 29px;
  left: calc(50% - 189px / 2);
  top: 96px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.text span {
  color: rgba(26, 61, 255, 1);
}

.text_place {
  position: absolute;
  width: 214px;
  height: 27px;
  left: calc(50% - 214px / 2 + 0.5px);
  top: 147px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 12.509px;
  line-height: 18px;

  color: #000000;
  border-bottom: 0.833935px solid #dcdcdc;
}

.matching_user {
  display: flex;
  position: absolute;
  width: 322px;
  height: 173px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: 189px;

  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(137, 137, 137, 0.3);
  border-radius: 18px;
}
.username img {
  position: absolute;
  width: 11.53px;
  left: calc(50% - 11.53px / 2 - 31.74px);
  top: 18%;
  bottom: 64.92%;
}
.username span {
  position: absolute;
  width: 47px;
  height: 25px;
  left: calc(50% - 47px / 2 + 0.5px);
  top: 23px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.usertype {
  position: absolute;
  width: 270px;
  box-sizing: border-box;
  top: 60px;
  left: calc(50% - 310px / 2);
  text-align: center;
}

.usertype ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 0;
}

.usertype li {
  height: max-content;
  width: max-content;
  padding: 10px;

  display: flex;
  justify-content: center;
  margin: 4px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #1a3dff;
  border-radius: 20px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  list-style: none;
  color: #1a3dff;
}

/* 채팅 */
.text_chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 50px;
  left: calc(50% - 161px / 2);
  top: 400px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #443c53;
}

.text_chat span {
  padding: 6px 0;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #443c53;
}

.click {
}

.click_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 69px;
  height: 69px;
  left: calc(50% - 69px / 2);
  top: 504px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.click_img img {
  width: 28.03px;
  height: 33.97px;
}
.click span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 25px;
  left: calc(50% - 46px / 2 - 1.5px);
  top: 588px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  text-align: center;

  color: #1a3dff;
}
