body {
  width: 375px;
  height: 667px;
  background: #fbfbfb;
}

/* 상단로고 */
.header {
  display: flex;
}
.logo {
  position: absolute;
  left: 8.27%;
  right: 59.47%;
  top: 4.5%;
  bottom: 91.3%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 22.799px;
  line-height: 28px;
  color: rgba(26, 61, 255, 0.7);
}
.mypage_move {
  position: absolute;
  left: 92%;
  top: 33px;
}
iconify-icon {
  width: 22px;
  height: 22px;
}

/* 마이페이지 타이틀 */
.mypage_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mypage_title img {
  position: absolute;
  width: 11.53px;
  left: calc(50% - 11.53px / 2 + 1.5px);
  top: 13%;
  bottom: 85.16%;
}
.mypage_title span {
  position: absolute;
  width: 92px;
  height: 29px;
  left: calc(50% - 92px / 2 + 0.5px);
  top: 97px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
/* 마이페이지 유저 */

.mypage_box {
  display: flex;
}

.mypage_user {
  position: absolute;
  width: 315px;
  height: 319px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: 137px;
  background: #ffffff;
  box-shadow: 0px 0px 14.7368px rgba(137, 137, 137, 0.2);
  border-radius: 16.5789px;
}

/* 닉네임 */
.mypage_user_name {
  position: absolute;
  height: 23px;
  left: 18px;
  top: 20.26px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16.5789px;
  line-height: 23px;
  color: #443c53;
}
.mypage_user_photo_change_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 63.55px;
  height: 24.87px;
  left: 233.03px;
  top: 20.26px;
  background: #efefef;
  border-radius: 16.5789px;
  border: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.21053px;
  line-height: 13px;
  color: #727272;
}

.mypage_user_photo {
  display: flex;
  position: absolute;
  width: 167px;
  height: 125.73px;
  left: calc(50% - 167px / 2);
  top: 38.27px;
}
.mypage_user_photo img {
  width: 167px;
  height: 125.73;
}
.mypage_user_type {
  position: absolute;
  width: 270px;
  box-sizing: border-box;
  top: 170px;
  left: calc(50% - 300px / 2);
  text-align: center;
}

.mypage_user_type ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 0;
}
.mypage_user_type li {
  height: max-content;
  width: max-content;
  padding: 7px;

  display: flex;
  justify-content: center;
  margin: 4px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #1a3dff;
  border-radius: 20px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  list-style: none;
  color: #1a3dff;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 63.55px;
  height: 24.87px;
  left: 123px;
  top: 267px;
  background: #1a3dff;
  border-radius: 16.5789px;
  border: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.21053px;
  line-height: 13px;
  color: #ffffff;
}

/* 최근 매칭된 동행자 */
.mypage_recent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 315px;
  height: 161px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: 480px;
  background: #ffffff;
  box-shadow: 0px 0px 14.7368px rgba(137, 137, 137, 0.2);
  border-radius: 16.5789px;
}

/* 최근 매칭된 동행자 text */
.text {
  position: absolute;
  height: 23px;
  left: 18px;
  top: 15px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16.5789px;
  line-height: 23px;
  color: #443c53;
}

.mypage_recent_list {
  position: absolute;
  top: 45px;
}

.mypage_recent_list span {
  position: absolute;
  top: 90%;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #443c53;
}

.mypage_recent_list ul {
  display: flex;
}
.mypage_recent_list li {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  width: 64px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 0px 8.10127px rgba(0, 0, 0, 0.25);
  list-style: none;
  border-radius: 50%;
  align-items: center;
  text-align: center;
}
.mypage_recent_list li img {
  width: 53.47px;
  height: 40.51px;
}
